<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplemall.account.dal.ZknhVillageModelMapper">

    <select id="getVillageModelByVillageId" resultType="com.simplemall.micro.serv.common.bean.account.ZknhVillageModel">
		select * from  zknh_village_model where village_id = #{villageId} order by model_sort asc;
	</select>

</mapper>
